footer{
    height: 150px;
    align-items: center;
    max-width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    width: 1342px;
    background:#d38fd3;
    padding:50px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .foter .row{
    width:100%;
    }
    
    
    
    
    
    
