.containerGal{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.containerGal .img{
    width: 330px;
    height: 430px;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}