* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.parent {
    background-color: blueviolet;
    display: grid;
    gap: 20px;
    grid-template-areas: "head" "catalogo" "piepag";
    grid-template: "head" 77px "catalogo" 500px "piepag" 100px;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    min-height: 100%;
}
.head {
    grid-area: head;
    background-color: rgb(219, 189, 247);
    display: grid;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    grid-template-columns: auto auto;
    margin: 10px;
    margin-bottom: 1%;
    border: 2px solid black;
}
.catalogo {
    grid-area: catalogo;
    background-color: rgb(139, 51, 190);
    font-size: xx-large;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
}
.cat{
    display: grid;
    grid-template-columns: auto auto auto;
}
.ropa{
    border: 2px solid black;
    background-color: rgb(162, 173, 160);
    height: 300px;
    width: 300px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding: 0px;
}
.piepag {
    border: 2px solid black;
    grid-area: piepag;
    display: grid;
    background-color:rgb(182, 137, 224);
    grid-template-columns: auto auto;
    margin: 10px;
}
button{
    margin: 0%;
    font-size: 1.5;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px  solid rgb(66, 156, 176);
   box-shadow: 2px 2px 10px rgb(66, 156, 176);
   color: blueviolet;
   
   }
   button:hover{
   
       background-color:rgb(66, 156, 176);
   }
